doctype html
html
head
    title= title
body
    h1= message 
    p= name
    a(href="https://bing.com") Bing that!
    p Hello #{name} visit 
        a(href="https://bing.com") Bing 
    
    div#food
        ul(class="food-list")
            li Apple
            li Banana
            li Carrot
    
    img(src="https://farm6.staticflickr.com/5462/8893920211_e3fcdaef12_m.jpg",
    alt="Neil",width="240",height="201")

    p.
        Who let the dogs out?
        Who?
        Who?
    - var x = 3;
    div
    ul
        - for (var i=1; i<=x; i++) {
        li= "coffee #" + i
        - }
    p Pass array of tacos.
    each taco in tacos
        li= taco
        